PORT=3000
DATABASE_URL="your database_url"
JWT_SECRET=supersecretjwt

MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
MIDTRANS_IS_PRODUCTION=false
MIDTRANS_MERCHANT_ID=
MIDTRANS_BASE_URL=
MIDTRANS_SNAP_URL=